{% extends "employertemplates/employerbase.html" %}


{% block content %}
<h4>job title:{{jobobject.title}}</h4>
<h4>job Category:{{jobobject.category}}</h4>

<h3>job Application for this job</h3><hr>
<table class="table">
	<thead>
		<tr>
			<th>Sn</th>
			<th>applicants</th>
			<th>applied on</th>
			<th>download CV</th>
		</tr>
	</thead>
	<tbody>
		{% for application in jobobject.jobapplication_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{application.jobseeker}}</td>
			<td>{{application.created_at}}</td>
			<td><a href="{{application.jobseeker.cv.url}}" download>Download CV</a>|
				<a href="{{application.cover_letter.url}}" download>Download Cover Letter</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}