<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body class="container">
	<nav class="nav">
		<li><a href="{% url 'jobapp:employerhome' %}">home</a></li>|
		<li><a href="{% url 'jobapp:employerjobcreate' %}">Post new Job</a></li>|

		{% if request.user.is_authenticated and request.user.groups.first.name == "employer" %}
      
        	<p>Logged in as : {{request.user}}</p>|
     		<li class="nav-item">
		      <a class="nav-link" href="{% url 'jobapp:employerprofile' %}">My Pofile</a>
		      </li>|


		      <li class="nav-item {% block logout %}{% endblock %}">
		        <a class="nav-link" href="{% url 'jobapp:logout' %}">logout</a>
		      </li>    
		      {% else %}
		      <li class="nav-item {% block registration %}{% endblock %}">
		        <a class="nav-link" href="{% url 'jobapp:employerregistration' %}">Register</a>
		      </li>|
		      <li class="nav-item {% block login %}{% endblock %}">
		        <a class="nav-link" href="{% url 'jobapp:joblogin' %}">login</a>
		      </li>
      	{% endif %}
		
	</nav>

{% block content %}



{% endblock %}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>