{% extends "employertemplates/employerbase.html" %}
{% load static %}

{% block content %}
<h3>Job Posted by: {{employer.company}}</h3>
<table class="table">
	<thead>
		<tr>
			<th>Sn.</th>
			<th>title</th>
			<th>Deadline</th>
			<th>Posted on</th>
		</tr>
	</thead>
	<tbody>
		{% for job in employer.job_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:employerjobdetail' job.id %}">{{job.title}}({{job.jobapplication_set.count}} applications)</a></td>
			<td>{{job.deadline}}</td>
			<td>{{job.created_at}}</td>
		</tr>
		{% endfor %}
	</tbody>	
</table>

{% endblock %}