{% extends "employertemplates/employerbase.html" %}



{% block content %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Post</button>
</form>



{% endblock %}