{% extends "jobseekertemplates/jobseekerbase.html" %}
{% block job %}active{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-6">
		<u><h3>{{job.title}}</h3></u>
		<p style="color: orange">{{job.view_count}}</p>
		<img src="{{job.image.url}}" class="img-fluid">
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
				<tr>
					<th>Job Title:</th>
					<td>{{job.title}}</td>
				</tr>
				<tr>
					<th>Required Skills:</th>
					<td>{{job.skills}}</td>
				</tr>
				<tr>
					<th>Education:</th>
					<td>{{job.education}}</td>
				</tr>
				<tr>
					<th>Job type:</th>
					<td>{{job.job_type}}</td>
				</tr>
				<tr>
					<th>employer:</th>
					<td>{{job.employer}}</td>
				</tr>
				<tr>
					<th>Salary:</th>
					<td>{{job.salary}}</td>
				</tr>
				<tr>
					<th>Level:</th>
					<td>{{job.level}}</td>
				</tr>
				<tr>
					<th>Vacancy:</th>
					<td>{{job.vacancy_number}}</td>
				</tr>
				<tr>
					<th>Detail:</th>
					<td>{{job.detail}}</td>
				</tr>
				<tr>
					<th>Deadline:</th>
					<td>{{job.deadline}}</td>
				</tr>

		</table>
	</div>
	
</div>

<a href="{% url 'jobapp:jobseekerjobapply' job.id %}">Apply Now</a>

{% endblock %}