{% extends "jobseekertemplates/jobseekerbase.html" %}
{% load static %}


{% block content %}

{% if error %}
<li class="text-danger">{{error}}</li>
{% endif %}

<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button>Login</button>
</form>

<h4>register for new user</h4>
<a href="{% url 'jobapp:jobseekerregistration' %}">register as jobseeker</a>
or
<a href="{% url 'jobapp:employerregistration' %}">register as employer</a>


{% endblock %}