{% extends "jobseekertemplates/jobseekerbase.html" %}
{% block job %}active{% endblock %}


{% block content %}
<h4>Job Lists</h4>
<div class="row">
	<div class="col-md-9">
		<diV class="row">
			{% for job in jobs %}
			<div class="col-md-4">
				<u><a href="{% url 'jobapp:jobdetail' job.id %}"><h2>{{job.title}}</h2></a></u>
				<img src="{{job.image.url}}" class="img-fluid">
			</div>
			<div class="clear-fix"></div>
			{% endfor %}
		</diV>
	</div>
	<div class="col-md-3">
		<div class="row">
			<h3>Latest jobs</h3>
			{% for job in jobs %}
			<div class="col-md-12">
				<u><a href="{% url 'jobapp:jobdetail' job.id %}"><h2>{{job.title}}</h2></a></u>
				<img src="{{job.image.url}}" class="img-fluid">
			</div>
			{% endfor %}
		</div>
		<div class="clear-fix"></div>
	</div>
		
</div>

{% endblock %}