{% extends "jobseekertemplates/jobseekerbase.html" %}


{% block content %}
<h3>Job Application Form</h3>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Apply</button>
</form>

{% endblock %}