{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>jobsnepal</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />


</head>
<body class="container">
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark" style="height: 100px; background-color: #69D67B;">
  <a style="color: #800000" class="navbar-brand" href="/">kaamkaaz.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block home %}{% endblock %}">
        <a class="nav-link" href="{% url 'jobapp:jobseekerhome' %}">Home <span class="sr-only">(current)</span></a> 
      </li>
      <li class="nav-item {% block job %}{% endblock %}">
        <a class="nav-link" href="{% url 'jobapp:joblist' %}">Jobs</a>
      </li>
      <li class="nav-item {% block events %}{% endblock %}">
        <a class="nav-link" href="">Events</a>
      </li>
      <li class="nav-item {% block blog %}{% endblock %}">
        <a class="nav-link" href="">Our Blogs</a>
      </li>
      <li class="nav-item {% block about %}{% endblock %}">
        <a class="nav-link" href="">About Us</a>
      </li>
      {% if request.user.is_authenticated and request.user.groups.first.name == "jobseeker" %}
      
        <p>Logged in as : {{request.user}}</p>
     <li class="nav-item">
      <a class="nav-link" href="{% url 'jobapp:jobseekerprofile' %}">My Pofile</a>
      </li>


      <li class="nav-item {% block logout %}{% endblock %}">
        <a class="nav-link" href="{% url 'jobapp:logout' %}">logout</a>
      </li>    
      {% else %}
      <li class="nav-item {% block registration %}{% endblock %}">
        <a class="nav-link" href="{% url 'jobapp:jobseekerregistration' %}">Register</a>
      </li>
      <li class="nav-item {% block login %}{% endblock %}">
        <a class="nav-link" href="{% url 'jobapp:joblogin' %}">login</a>
      </li>
      {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0 " type="submit">Search</button>
    </form>
  </div>
</nav>
<br>




{% block content %}



{% endblock %}

<div class="footer">
  <h3 style="text-align: center;background-color: ">About Us</h3>
  <p>Kathmandu Jobs is Nepal's First Job Portal dedicated to IT Jobs.General/Marketing Contact: info@kathmandujobs.com Customer Support Hotline: +977-9801034779 (11 am - 4 pm)</p>
  <p style="text-align: center;">© All rights reserved with Kaamkaaz.com</p>
</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>