{% extends "jobseekertemplates/jobseekerbase.html" %}
{% load static %}
{% block content %}
<h3>My Profile</h3><hr>
<h4>Name:{{jobseeker.name}}</h4>

<h3>Job I have applied</h3>
<table class="table">
	<thead>
		<tr>
			<th>sn</th>
			<th>title</th>
			<th>company</th>
			<th>date</th>
		</tr>
	</thead>
	<tbody>
		{% for jobappl in jobseeker.jobapplication_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{jobappl.job.title}}</td>
			<td>{{jobappl.job.employer.company}}</td>
			<td>{{jobappl.created_at}}</td>
		</tr>
		{% endfor %}
	</tbody>
	
</table>



{% endblock %}