{% extends "jobseekertemplates/jobseekerbase.html" %}
{% block home %}active{% endblock %}

{% block content %}

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  	{% for slider in sliders %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-interval="10000">
      <img style="height: 250px;width:100%" src="{{slider.image.url}}" class="d-block" alt="...">
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




{% endblock %}