{% extends "jobseekertemplates/jobseekerbase.html" %}

{% block registration %}active{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>register</button>
	
</form>

{% endblock %}